<li data-character="<%=character.id%>" style="overflow-wrap: break-word;"><!--
  --><%= "#{character.name}" %><!--
  <% if character == yourself %>
   -->&nbsp;(you)<!--
  <% elsif game.is_owner? character %>
   -->&nbsp;(host)<!--
  <% elsif game.is_owner? yourself %>
   -->&nbsp;<a class="character-remove">Remove</a><!--
  <% end %>
--></li>
