<div id="game-not-ready">
  <span class="label primary">Waiting for more characters to join</span>
</div>
<div id="game-ready" style="display:none;">
  <% if game.is_owner? character %>
    <p><button type="submit" class="button success">Start Game</button></p>
  <% else %>
    <span# class="label success">Waiting for host to start</span>
  <% end %>
</div>
